<div class="patient-div">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <input type="number" formControlName="patientId" placeholder="Id" />
    <div *ngIf="submitted && patientForm.controls['patientId'].invalid">
      Patient ID is required and must be greater than 0.
    </div>

    <input type="text" formControlName="fullName" placeholder="Full Name" />
    <div *ngIf="submitted && patientForm.controls['fullName'].invalid">
      Full Name is required and must be at least 2 characters.
    </div>

    <input type="date" formControlName="dateOfBirth" placeholder="DOB" />
    <div *ngIf="submitted && patientForm.controls['dateOfBirth'].invalid">
      Date of Birth is required.
    </div>

    <input type="text" formControlName="contactNumber" placeholder="Contact Number" />
    <div *ngIf="submitted && patientForm.controls['contactNumber'].invalid">
      Contact Number must be exactly 10 digits.
    </div>

    <input type="email" formControlName="email" placeholder="Email" />
    <div *ngIf="submitted && patientForm.controls['email'].invalid">
      Valid Email is required.
    </div>

    <input type="text" formControlName="address" placeholder="Address" />
    <div *ngIf="submitted && patientForm.controls['address'].invalid">
      Address is required.
    </div>

    <button type="submit" id="submitBtn" [disabled]="patientForm.invalid">Submit</button>
    <button type="button" (click)="resetForm()" id="resetBtn">Reset</button>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>